
body {
    text-align: justify;
   color: white;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  html {
    background: rgb(46, 48, 48) url("/home/erinec/Documents/html-cs/IMG/index.jpeg");
    background-repeat: no-repeat;
    background-size: 2000px;
  }  

  
  