
body {
    text-align: justify;
   
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  html {
    background: lightblue url("/home/erinec/Documents/html-cs/IMG/EX.jpeg");
  }  